/* src/App.css */
.app {
  display: flex;
}

.main-content {
  margin-left: 60px; /* Ajuste conforme a largura da barra lateral */
  flex: 1;
  padding: 20px;
}

.add-candidate-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
}

.add-candidate {
  padding: 20px;
}

.add-candidate form {
  display: flex;
  flex-direction: column;
}

.add-candidate input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.add-candidate button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 100%;
  max-width: 500px;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__tile--active {
  background: #007bff;
  color: white;
}

.badge {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.patients-list {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.patient-detail {
  background: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.form-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2, .form-container h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #666;
}

.form-container input, .form-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.form-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #0056b3;
}
