.app {
  display: flex;
}

.main-content {
  margin-left: 60px; /* Ajuste conforme a largura da barra lateral */
  flex: 1;
  padding: 20px;
}

.add-patient-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
}

.patients-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.patient-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.patient-card.selected {
  border-color: #007bff;
}

.patient-card:hover {
  transform: translateY(-5px);
}

.patient-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.patient-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.patient-card p {
  margin: 5px 0;
  color: #666;
}

/* Estilo para o botão "Selection Mode" */
.selection-mode-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.selection-mode-button:hover {
  background-color: #218838;
}

.selection-mode-button.active {
  background-color: #dc3545;
}

.selection-mode-button.active:hover {
  background-color: #c82333;
}
