.sidebar {
  height: 100vh;
  width: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #007bff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 20px 0;
  font-size: 24px;
}

.sidebar a.active {
  background-color: #0056b3;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-home::before {
  content: "\1F3E0"; /* Unicode para o ícone de casa */
}

.icon-calendar::before {
  content: "\1F4C5"; /* Unicode para o ícone de calendário */
}

.icon-gym::before {
  content: "\1F4AA"; /* Unicode para o ícone de halter */
}

.icon-running::before {
  content: "\1F3C3"; /* Unicode para o ícone de boneco correndo */
}

.toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sidebar.closed .toggle-button {
  position: absolute;
  top: 20px;
  left: 60px;
}
